{% extends 'dashboard.html.twig' %}

{% block title %}Create a new mail{% endblock %}

{% block body %}
<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid">
				{# <h4 class="mt-4">ADD EMAIL</h4> #}
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item">
						<a href="index.html">Dashboard</a>
					</li>
					<li class="breadcrumb-item active">Send Email</li>
				</ol>
				<div class="card mb-4">
					<div class="card-body">
                            {{ include('mail_entity/_form.html.twig') }}        
                            {# <a class="btn btn-success"href="{{ path('mail_entity_index') }}">back to list</a> #}
					</div>
				</div>
			</div>
		</main>
    
{% endblock %}
